#footer{
    padding: 3rem;
    margin-top: 3rem;
    position: relative;
    z-index: 1;
    background: #1b1d1f;
    .footer-wrapper{
        position: relative;
        z-index: 2;
        text-align: center;
        a{
            img{
                width: 90px;
            }
        }
        p{
            margin-top: 1rem;
            color: var(--white);
        }
    }
}