h1, h2, h3, h4, h5, h6{
    font-family: $headings-font;
}

body{
    font-family: $main-font;
    color: $secondary;
    overflow-x: hidden;
    letter-spacing: $font-spacing;
    font-size: $font-size;
}

@media (min-width: $xl){
    .container{
        max-width: 1300px;
    }
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.paginate-links {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    .page-numbers {
        font-size: 20px;
        padding: 10px;
        color: unset;
        text-decoration: none;
    }
    .current {
        color: $primary;
    }
   
}