:root{
    @media (max-width:782px) {
     --admin-bar: 44px;
    }
    --main-font: 'Jost', sans-serif;
    --headings-font:'PT Serif', serif;
    --font-size:17px;
    --font-spacing: 0.5px;
    --admin-bar: 32px;
    --light-gray: #ededed;
    --footer-bg:#1b1d1f; 
    --social-color:#616161;

 }