#collection {
    .entry-header-type {
        padding: 6rem 2rem;
        text-align: center;
        position: relative;
        margin-bottom: 4rem;
        background-size: cover !important;
        background-position: center !important;
        .header-bg{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3;
        }
        .entry-title-type,
        .entry-meta-single {
            z-index: 2;
            position: relative;
            color: $white;
            a {
                color: inherit;
            }
        }
    }


    .mr-collection-recipe {
        @media(max-width: $lg) {
            height: 350px;
        }
        height: 400px;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        position: relative;
        margin-bottom: 2rem;
        a {
            color: unset;
            text-decoration: none;
        }

        .mr-collection-recipe-content {
            background: $white;
            position: absolute;
            bottom: 0;
            width: 80%;
            height: 90px;
            padding: 1rem;
            border-left: 1px solid $light-gray;
            border-bottom: 1px solid $light-gray;
            .mr-collection-recipe-title {
                position: relative;
                padding-left: 25px;
                &::before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 15px;
                    height: 3px;
                    background: $accent;
                }
            }
            .mr-collection-recipe-meta {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 70%;
                margin-left: 20px;
                margin-top: 10px;
            }
        }
    }


}
