#footer {
    padding: 3rem;
    margin-top: 3rem;
    position: relative;
    z-index: 1;
    background: $footer-bg;
    .footer-wrapper {
        position: relative;
        z-index: 2;
        text-align: center;
        a {
            img {
                width: 90px;
            }
        }
        p {
            margin-top: 1rem;
            color: $white;
        }
    }
}
