#masthead {
    margin-top: 2rem;
    @media(max-width: $lg) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .mr-nav-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mr-logo {
            display: flex;
            align-items: center;
            p {
                padding-left: 1rem;
                font-size: 20px;
                font-weight: bold;
                word-break: break-word;
                width: 120px;
                margin: 0;
                line-height: 24px;
                text-transform: uppercase;
                letter-spacing: 2px;
                &::first-letter {
                    color: $primary;
                }
                @media(max-width: $sm) {
                    display: none;
                }
            }
            a {
                img {
                    width: $logo-width;
                    @media(max-width: $lg) {
                        width: 60px;
                    }
                }
            }
        }
    }
    .navbar-toggler {
        outline: none;
        display: block;
        i {
            color: $social-color;
        }
        @media(min-width: $lg) {
            display: none;
        }
    }
    .mr-social {
        a{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
        i {
            font-size: 20px;
            margin-right: 10px;
            color: $social-color;
            &:last-child {
                margin-right: 0;
            }
        }
    }

}
