#single-recipe {
    .entry-header-single {
        padding: 2rem;
        text-align: center;
        background: url('assets/images/banner.jpg');
        position: relative;
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: $primary-light;
            z-index: 1;
        }
        .entry-title-single,
        .entry-meta-single {
            z-index: 2;
            position: relative;
            color: $white;
            a {
                color: inherit;
            }
        }
    }
    .entry-content-single {
        margin: 6rem auto
    }

    .mr-recipe-meta-info {
        p {
            i {
                margin-right: 1rem;
                font-size: 18px;
            }
           
        }

    }


    .mr-recipe-meta-ingredients {
        margin-top: 2rem;
        li.list-group-item {
            padding-left: 30px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50);
                left: 0;
                width: 10px;
                height: 3px;
                background: $accent;
            }
        }
    }

    .mr-recipe-preparation-method {
        h4 {
            color: $primary;
        }
        margin-top: 2rem;
        &-card {
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding-right: 2rem;
            font-size: $font-size - 2;
        }
    }

}
