#navbarNavAltMarkup{
    justify-content: flex-end;
    @media(max-width: 991px){
        position: absolute;
        background: var(--white);
        border-top: 1px solid #ededed;
        border-bottom: 1px solid #ededed;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 90px;
        z-index: 20;
    }
    ul{
        
        @media (max-width: 991px){
            padding: 1rem 2rem;
        }

        list-style: none;
        margin: 0;
        padding: 0;
        li{
            @media(max-width: 991px){
                display: block;
                padding: 1rem 1rem 1rem 0;
            }
            padding: 1.7rem 1.7rem 1.7rem 0;
            display: inline-flex;
            color: var(--gray-dark);
            font-weight: bold;
            &:last-child{
                padding:0;
                @media(max-width: 991px){
                    padding: 1rem 0;
                }
            }
            position: relative;
            &:hover{
                .sub-menu{
                    display: block;
                }
            }
            .sub-menu{
                transition: 0.3s ease;
                display: none;
                width: 200px;
                position: absolute;
                top: 50px;
                padding: 10px 0;
                z-index: 10;
                background: #fff;
                border: 1px solid #ededed;
                li{
                    padding: 0 1rem;
                }
            }
            a{
                color: inherit;
            }
        }
    }

    .mr-contact{
        @media(max-width: 991px){
            margin: 0 2rem 2rem 2rem;
        }
        .mr-btn-contact{
            background: var(--red);
            background: var(--red);
            color: var(--white);
            padding: .5rem 1rem;
            border-radius: 5px;
        }
    }
    
}

.admin-bar{
    #navbarNavAltMarkup{
        @media(max-width: 782px){
            top: 134px;
        }

        @media(min-width: 783px){
            top: 122px;
        }
    }
}